@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
/* http://meyerweb.com/eric/tools/css/reset/
 *    v2.0 | 20110126
 *       License: none (public domain)
 *       */
* {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: #000; }

html {
  font-size: 20px; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: normal; }

.page--content-wrap {
  background-color: white;
  max-width: 1024px;
  padding: 1rem 0.8rem;
  margin: 0 auto; }
  @media (min-width: 800px) {
    .page--content-wrap {
      padding: 1rem 2rem; } }

.page--main-nav {
  position: absolute;
  top: 0;
  margin: 0 0 1rem;
  width: 100%;
  background-color: white;
  text-align: center;
  overflow: hidden;
  -webkit-transition: 1s-webkit-transform linear; }
  .page--main-nav ul {
    -webkit-transition: 1s height linear; }
  .page--main-nav li {
    list-style: none; }
  .page--main-nav a {
    display: inline-block;
    padding: 0.5rem 2rem;
    font-size: 1rem; }
  .page--main-nav[data-state=normal] {
    position: absolute; }
  .page--main-nav[data-state=fixed] {
    position: fixed; }
  .page--main-nav ul[data-state=closed] {
    height: 0; }
  .page--main-nav ul[data-state=open] {
    height: initial; }
  @media (min-width: 800px) {
    .page--main-nav[data-state=normal] {
      position: relative; }
    .page--main-nav li {
      display: inline;
      font-size: 0px; }
    .page--main-nav ul li:first-child {
      display: none; }
    .page--main-nav ul[data-state=closed] {
      height: inherit; } }

.page--site-header {
  text-align: center; }

.page--burger {
  display: block;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: right; }
  @media (min-width: 800px) {
    .page--burger {
      display: none; } }

.page--site-name {
  clear: both;
  margin: 1rem 0;
  font-size: 2rem; }
  @media (min-width: 800px) {
    .page--site-name {
      font-size: 2.5rem; } }

.page--site-subtitle {
  margin: 0 0 2rem;
  font-size: 1rem;
  font-style: italic; }

.blurb--wrap {
  margin: 2rem auto 3rem;
  font-size: 1.25rem;
  max-width: 700px; }
  .blurb--wrap p {
    line-height: 1.2; }
  @media (min-width: 600px) {
    .blurb--wrap {
      text-align: center;
      font-size: 1.5rem; } }

/*COME UP WITH MORE SEMANTIC NAME*/
.cta--wrap-wrap {
  width: 100%; }

.cta--wrap {
  margin: 2rem auto 2rem;
  text-align: center; }
  @media (min-width: 800px) {
    .cta--wrap {
      padding: 1.5rem 0 0;
      border-top: 1px solid #000; } }

.cta--left {
  display: inline-block;
  vertical-align: top; }
  .cta--left h3 {
    font-size: 1.5rem; }
  @media (min-width: 800px) {
    .cta--left {
      margin: 0 1.5rem 0 0;
      text-align: right;
      width: 25%; } }

.cta--right img {
  border-radius: 50%; }
  @media (min-width: 800px) {
    .cta--right img {
      float: left;
      margin: 0 1.5rem 0 1.5rem; } }
.cta--right h3 {
  font-size: 1rem; }
  @media (min-width: 800px) {
    .cta--right h3 {
      display: inline-block;
      margin: 0 0 1rem; } }
.cta--right p {
  margin: 0 0 0.5rem; }
@media (min-width: 800px) {
  .cta--right {
    text-align: left;
    display: inline-block;
    border-left: 1px solid #000;
    width: 70%; } }

.cta--email-form input[type=email] {
  width: 90%;
  height: 2rem; }
  @media (min-width: 800px) {
    .cta--email-form input[type=email] {
      float: left;
      width: 50%; } }
.cta--email-form label {
  position: absolute;
  left: -9999px;
  height: 0px; }
.cta--email-form button {
  padding: 0.4rem 0.4rem;
  width: 90%;
  background: none;
  box-shadow: none;
  border: 1px solid #000;
  font-size: 1rem; }
  @media (min-width: 800px) {
    .cta--email-form button {
      float: left;
      width: 25%; } }

.homepage--content-wrap {
  margin: 1.5rem 0; }

.homepage--content-title {
  font-size: 1.25rem;
  font-weight: bold; }

.offer-wrap img {
  max-width: 100%; }

.offer--left {
  display: inline-block;
  vertical-align: top; }
  @media (min-width: 800px) {
    .offer--left {
      margin: 0 1.5rem 0 0;
      text-align: right;
      width: 25%; } }

.offer--right img {
  border-radius: 50%; }
  @media (min-width: 800px) {
    .offer--right img {
      float: left;
      margin: 0 1.5rem 0 1.5rem; } }
.offer--right h3 {
  font-size: 1.25rem; }
  @media (min-width: 800px) {
    .offer--right h3 {
      display: inline-block;
      margin: 0 0 1rem; } }
.offer--right p {
  margin: 0 0 0.5rem; }
.offer--right button {
  font-size: 1rem; }
@media (min-width: 800px) {
  .offer--right {
    text-align: left;
    display: inline-block;
    width: 70%; } }

.page--site-footer {
  margin: 1rem 0 0;
  text-align: center;
  font-size: 1rem; }

.page--site-footer-img {
  max-width: 2rem; }
