$primary: #000;
$primary_dark: gray;
$primary_light: lightgray;
$BLOOD: red;

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import 'reset';
@import 'breakpoint';

html {
    font-size:20px;
}

body {
  font-family:'Lato', sans-serif;
  font-weight:normal;
}

.page--content-wrap {
  background-color:white;
  max-width:1024px;
  padding:1rem 0.8rem;
  margin:0 auto;
  @include breakpoint(800){
    padding:1rem 2rem;
  }
}

.page--main-nav {
  position:absolute;
  top:0;
  margin:0 0 1rem;
  width:100%;
  background-color:white;
  text-align:center;
  overflow:hidden;
  ul {
    -webkit-transition:1s height linear;
  }
  li {
    list-style:none;
  }
  a { 
    display:inline-block;
    padding:0.5rem 1rem;
    font-size:1rem;
  }
  & ul[data-state=closed]{
    height:0;
  }
  & ul[data-state=open]{
    height:100px;
  }
  @include breakpoint(800){
    position:relative;
    li{
      display:inline;
      font-size:0px;
    }
    ul li:first-child {
      display:none;
    }
    & ul[data-state=closed]{
      height:inherit;
    }
  }
}

.page--site-header {
  text-align:center;
}

.page--burger {
  display:block;
  font-size:1.5rem;
  text-transform:uppercase;
  text-align:right;
  @include breakpoint(800){
    display:none;
  }
}

.page--site-name {
  clear:both;
  margin:1rem 0;
  font-size:2rem;
}

.page--site-subtitle {
  margin:0 0 2rem;
  font-size:1rem;
  font-style:italic;
}


.blurb--wrap {
  margin:2rem auto;
  font-size:1.25rem;
  max-width:500px;
  @include breakpoint(600){
   text-align:center;
  }
}
/*COME UP WITH MORE SEMANTIC NAME*/
.cta--wrap-wrap {
  width:100%;
}
.cta--wrap {
  margin:2rem auto;
  text-align:center;
  @include breakpoint(800){
    padding:1rem 0;
    border-top:1px solid #000;
  }
}

.cta--left {
  display:inline-block;
  vertical-align:top;
  h3 {
    font-size:2rem;
  }
  @include breakpoint(800){
  margin:0 1rem 0 0;
  text-align:right;
    width:25%;
  }
}
.cta--right {
  img {
    border-radius:50%;
  
    @include breakpoint(800){
      float:left;
      margin:0 01rem 0 1rem;
    }
  }
  h3 {
    font-size:1rem;
    @include breakpoint(800){
      display:inline-block;
      margin:0 0 1rem;
    
    }
  }
  p {
    margin:0.5rem 0;
  }
  @include breakpoint(800){
  text-align:left;
    display:inline-block;
    
    border-left:1px solid #000;
    width:70%;
  }
}

.cta--email-form {
  input[type=email]{
    width:50%;
    height:2rem;
    @include breakpoint(800){
      float:left;
    }
  }
  label {
    position:absolute;
    left:-9999px;
    height:0px;
  }

  button {
    padding:0.4rem 0.4rem;
  
    background:none;
    box-shadow:none;
    border:1px solid #000;
    font-size:1rem;
    @include breakpoint(800){
      float:left;
    }

  }
}

.homepage--content-wrap {
  margin: 1.5rem 0;
}

.homepage--content-title {
  font-size:1.25rem;
  font-weight:bold;
}

.page--site-footer {
  margin:1rem 0 0;
  text-align:center;
  font-size:1rem;
}

.page--site-footer-img {
  max-width:2rem;
}

