$primary: #000;
$primary_dark: gray;
$primary_light: lightgray;
$BLOOD: red;

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import 'reset';
@import 'breakpoint';
@import 'vendor-prefix';

html {
    font-size:20px;
}

body {
  font-family:'Lato', sans-serif;
  font-weight:normal;
}

.page--content-wrap {
  position:relative;
  background-color:white;
  max-width:1024px;
  padding:1rem 0.8rem;
  margin:0 auto;
  @include breakpoint(800){
    padding:1rem 2rem;
  }
}

.page--main-nav {
  top:0;
  left:0;
  width:100%;
  background-color:white;
  text-align:center;
  overflow:hidden;
  @include vendor-dprefix(transition, 0.2s, transform, linear);
  ul {
    @include vendor-prefix(transition, 0.3s max-height ease-out);
    background-color:white;
    &[data-state=closed]{
      max-height:0px;
    }
    &[data-state=open]{
      max-height:1200px;
    }
    @include breakpoint(800){
      &[data-state=closed], &[data-state=open]{
        max-height:initial;
      }
    }
  }
  li {
    list-style:none;
    position:relative;
  }
  a {
    display:inline-block;
    width:100%;
    padding:0.5rem 2rem;
    font-size:1rem;
  }
  a:hover {
    background-color:palegoldenrod;
  }
  .page--main-nav-helper{
    text-align:right;
    font-size:1rem;
    font-weight:bold;
    background-color:white;
    position:relative;
    z-index:5;
    float:right;
    @include breakpoint(800){
      display:none;
    }
  }

  &[data-position=fixed]{
    position:fixed;
  }
  &[data-position=normal]{
    position:absolute;
  }
  @include breakpoint(800){
    overflow:visible;
    &[data-position=normal]{
      position:relative;
    }
    li{
      display:inline;
    }
    a {
      width:initial;
    }
  }
}

.page--main-nav-parent-menu {
  position:relative;
  &[data-state=open] ~ .page--main-nav-helper:before {
    content:"X";
  }
  &[data-state=closed] ~ .page--main-nav-helper:before {
    content:"MENU";
  }
}

.page--main-nav-child-menu {
  overflow:hidden;
  @include breakpoint(800){
    position:absolute; 
    z-index:10;
    text-align:left;
    height:0px;
    a {
      width:100%;
      padding:0.5rem 1rem;
    } 
  }
}
a:hover + .page--main-nav-child-menu, .page--main-nav-child-menu:hover {
  @include breakpoint(800){
    height:initial;
    &:last-child {
      padding:0 0 1rem 0;
    }

  }
}

.page--site-header {
  text-align:center;
}

.page--site-name {
  clear:both;
  margin:1rem 0;
  font-size:2rem;
  @include breakpoint(800){
    font-size:2.5rem;
  }
}

.page--site-subtitle {
  margin:0 0 2rem;
  font-size:1rem;
  font-style:italic;
}


.blurb--wrap {
  margin:2rem auto 3rem;
  font-size:1.25rem;
  max-width:700px;
  p {
    line-height:1.2;
  }
  @include breakpoint(600){
   text-align:center;
   font-size:1.5rem;
  }
}
/*COME UP WITH MORE SEMANTIC NAME*/
.cta--wrap {
  width:100%;
  margin:2rem auto 2rem;
  text-align:center;
  @include breakpoint(800){
    padding:1.5rem 0 0;
    border-top:1px solid #000;
  }
}

.cta--left {
  display:inline-block;
  vertical-align:top;
  h3 {
    font-size:1.5rem;
  }
  @include breakpoint(800){
  margin:0 1.5rem 0 0;
  text-align:right;
    width:25%;
  }
}
.cta--right {
  img {
    border-radius:50%;

    @include breakpoint(800){
      float:left;
      margin:0 1.5rem 0 1.5rem;
    }
  }
  h3 {
    font-size:1rem;
    @include breakpoint(800){
      display:inline-block;
      margin:0 0 1rem;

    }
  }
  p {
    margin:0 0 0.5rem;
  }
  @include breakpoint(800){
  text-align:left;
    display:inline-block;

    border-left:1px solid #000;
    width:70%;
  }
}

.cta--email-form {
  input[type=email]{
    width:90%;
    height:2rem;
    @include breakpoint(800){
      float:left;
    width:50%;
    }
  }
  label {
    position:absolute;
    left:-9999px;
    height:0px;
  }

  button {
    padding:0.4rem 0.4rem;
    width:90%;
    background:none;
    box-shadow:none;
    border:1px solid #000;
    font-size:0.8rem;
    @include breakpoint(800){
      float:left;
      width:25%;
    }

  }
}

.homepage--content-wrap {
  margin: 3rem 0;
}

.homepage--content-title {
  font-size:1.25rem;
  font-weight:bold;
}




.offer-wrap {
  img {
    max-width:100%;
  }
}

.offer--left {
  display:inline-block;
  vertical-align:top;
  @include breakpoint(800){
  margin:0 1.5rem 0 0;
  text-align:right;
    width:25%;
  }
}

.offer--right {

  h3 {
    font-size:1.25rem;
    @include breakpoint(800){
      display:inline-block;
      margin:0 0 1rem;

    }
  }
  p {
    margin:0 0 0.5rem;
  }
  button {
    font-size:1rem;
  }
  @include breakpoint(800){
    display:inline-block;
    width:70%;
    padding:2rem 0 0;
    text-align:left;

  }
}






.page--site-footer {
  margin:1rem 0 0;
  text-align:center;
  font-size:1rem;
}

.page--site-footer-img {
  max-width:2rem;
}

